<!DOCTYPE html>
<html lang="en">
<body>              

      <a ng-click="gotoMain()" href="#!main" >gotoMain</a>

    
     <div ng-controller="formCtrl" ng-app = "myApp">
        <form novalidate>
          UserName : <br>
          <input type="text" ng-model="user_name">
          <br><br>
          Password : <br>
          <input type="password" ng-model="user_pass">
          <br><br>
          
          <button ng-click="login()">login</button>
          <button ng-click="register()">register</button>
        </form>
        <p>name = {{user_name}}</p>
        <p>pass = {{user_pass}}</p>

        <p>response = {{mydata}}</p>

      </div>
    </body>
</html>
